<div id='details' hidden>
  <div class='screencover'></div>
  <div class='popup'>
    <div class='block-field'>
      <%= form.label :name %>
      <%= form.text_field :roller, id: :dice_pool_roller %>
    </div>

    <div class='block-field'>
      <%= form.label :purpose %>
      <%= form.text_area :purpose, id: :dice_pool_purpose %>
    </div>

    <div class='nav-line'>
      <div class='nav-table'>
        <%= nav_button_cell 'roll', 'roll' %>
      </div>
    </div>
  </div>
</div>
