<div class='flex-container dice-selection'>
    <% DieTypes::PAIRS.each do |group| %>
    <div class='dice-selection-group'>
      <% group.each do |die_type| %>
        <% next unless die_type %>
        <div class='dice-selection-dice <%= die_type %>' data-die-name='<%= die_type %>'>
          <div class='dice-selection-die <%= die_type %>'></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="block-field" hidden>
  <%= form.label :dice %>
  <%= form.text_field :view_dice, id: :dice_pool_dice %>
</div>
