<%= hrule if sticky.eql?('bottom') %>

<div <%= sticky ? "id='#{sticky}-nav'" : '' %> class='nav<%= sticky ? ' ' + sticky : ''%>'>
  <div class='nav-table base'>
    <%= nav_button_cell('roll', 'roll') %>
    <%= nav_button_cell('toggle-index', 'index') %>
  </div>
</div>

<%= hrule if sticky.eql?('top') %>
