<%= hrule if sticky.eql?('bottom') %>

<div <%= sticky ? "id='#{sticky}-nav'" : '' %> class='nav<%= sticky ? ' ' + sticky : ''%>'>
  <div class='nav-table base'>
    <%= nav_button_cell('top', 'top') %>
    <%= nav_button_cell('submit', 'roll') %>
    <%= nav_button_cell('bottom', 'bottom') %>
  </div>
</div>

<%= hrule if sticky.eql?('top') %>
