<div id='roller' class='page openable open'>
  <p id='notice'><p>


  <div id='results'>
    <%= render 'templates/dice_results' %>
    <%= hrule(margin: '0.5em 0') %>
    <%= render 'templates/pool_results' %>
  </div>
  <%= hrule(margin: '0.5em 0') %>

  <div id='dice-pool'>
    <%= form_with(url: roller_url, model: @dice_pool, local: true, id: 'roller-form') do |form| %>
      <%= render 'details', form: form %>
      <%= render 'dice_selection', form: form %>
    <% end %>
  </div>
</div>
