<%= render 'nav', sticky: 'top' %>

<p id='notice'><%= notice %></p>


<div id='roller'>
  <%= form_with(url: roller_url, model: @dice_pool, local: true, id: 'roller-form') do |form| %>
    <div class='block-field'>
      <%= form.label :name %>
      <%= form.text_field :roller, id: :dice_pool_roller %>
    </div>

    <div class='block-field'>
      <%= form.label :purpose %>
      <%= form.text_field :purpose, id: :dice_pool_purpose %>
    </div>

    <%= render 'dice_selection', form: form %>
  <% end %>
</div>

<%= hrule(margin: '0.5em 0') %>

<div id='roller-results'>
  <%= @dice %>
  <%= hrule(margin: '0.5em 0') %>
  <%= @result %>
</div>

<%= render 'nav', sticky: 'bottom' %>
