<!DOCTYPE html>
<html>
  <head>
    <title>Rolls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'roller', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('gm', 'data-turbolinks-track': 'reload') if params[:action].eql? 'gm_index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
